<table>
    <thead>
        <tr>
            <th colspan="2">Cat Attributes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name</td>
            <td>Color</td>
            <td>Birth_Date</td>
            <td>Sex</td>
            <td>Descritpion</td>
        </tr>
         <tr>
            <td><%= @cat.name %></td>
            <td><%= @cat.color %></td>
            <td><%= @cat.birth_date %></td>
            <td><%= @cat.sex %></td>
            <td><%= @cat.description %></td>
        </tr>
    </tbody>
</table>